{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Item Read{% endblock %}

{% block page_content %}

        <div class="col-lg-10">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-11"><h3>{{ item.item_title }}</h3></div>
                        <div class="col-lg-1"><a href="/overview"><i class="fa fa-times float-right" style="color: red;"></i></a></div>
                    </div>
                </div>
                <div class="card-body">
                    <p class="text-muted m-b-15">
                        <span>Write time:<code>{{ item.item_datetime }}</code></span><br>
                        <span>Category:<code>{{ item.item_category }}</code></span><br>
                        <span>Accept:<code>{{ item.item_accept }}</code></span><br>
                        <span>Attachment:<code><a href="/item/download/{{ item.item_attachment }}" style="color: red" >{{ item.item_attachment }}</a></code></span>
                    </p>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="pills-home-tab" >
                            <pre>
                                <p style="color: black;" >{{ item.item_content }}</p>
                            </pre>
                        </div>
                    </div>
                </div>
                <div class="card-footer">

                    <div class="row">
                    {% if current_user.user_role >=2 %}
                    <span><a href="/item/modify/{{ item.item_id }}" style="color: orange; font-size: small;" class="float-right badge mt-1">MODIFY</a></span>
                    <span><a href="/item/accept/{{ item.item_id }}" style="color: green; font-size: small;" class="float-right badge mt-1">ACCEPT</a></span>
                    <span><a href="/item/reject/{{ item.item_id }}" style="color: red; font-size: small;" class="float-right badge mt-1">REJECT</a></span>
                    {% elif current_user.user_id == item.item_author and not item.item_accept %}
                    <span><a href="/item/modify/{{ item.item_id }}" style="color: orange" class="float-right badge mt-1">modify</a> </span>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>

{% endblock %}


