{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Item - Write{% endblock %}
{% block page_title %}Write{% endblock %}
{% block page_content %}

        <div class="has-success form-group">
            <label for="inputIsValid" class=" form-control-label">Input is valid</label>
            <input type="text" id="inputIsValid" class="is-valid form-control-success form-control">
        </div>
        <div>
            <textarea name="editor1" id="editor1" class="ckeditor" rows="10" cols="80">
                This is my textarea to be replaced with CKEditor.
            </textarea>
        </div>

{% endblock %}