<!-- list items by the user -->
{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Posts{% endblock %}
{% block page_title %}Manage{% endblock %}
{% block page_content %}
<div class="card">
        <table class="table table-striped table-hover table-align-middle mb-0">
                    <thead >
                        <tr>
                            <th scope="col" style="width: 15%;">Date</th>
                            <th scope="col" style="width: 3%;">A</th>
                            <th scope="col" style="width: 65%;">Title</th>
                            <th scope="col" style="width: 5%;">Author</th>
                            <th scope="col" style="width: 3%">Manage</th>

                        </tr>
                    </thead>
                    <tbody style="color: black;">
                        {% for post in posts %}
                        <tr>
                            <td style="color: black;font-size: small;">{{ post.post_datetime }}</td>

                            <td style="color: black">{% if post.post_attachment %}
                                <a href="/post/download/{{ post.post_attachment }}"><i class="fa fa-download" style="color: dodgerblue;"></i></a>
                                {% else %}
                                <a >-</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('post.read',id=post.post_id)}}" style="color: black;">{{ post.post_title }}</a></td>

                            <td><a href="/user/{{post.post_author }}" style="color: black;">{{ post.post_author }}</a></td>
                            <td>

                            {% if current_user.isauthenticated %}
                                 {% if current_user.user_role >=2 %}
                            <a href="/post/modify/{{ post.post_id }}"  style="color: green;">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="/post/delete/{{ post.post_id }}"  style="color: red;">
                                <i class="fa fa-trash-o"></i>
                            </a>
                                {% endif %}
                            {% else %}
                                <span>-</span>
                            {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



</div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}