<!-- list items by the user -->
{% extends 'items_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Items{% endblock %}

{% block right_page_content %}
    <div class="row" style="width: 100%;">
        <h1>Mangement</h1>
    </div>
    <div class="container">
    <ul class="item">
        {% for user in users %}
        <li class="container">
            <div>
                {{ moment(user.user_lastlogtime).fromNow() }}
            </div>
            <div>
                <a href="">{{ user.user_name }}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}