<!-- list all the items -->
{% extends 'webbase.html' %}

{% block title %}All Items{% endblock %}

{% block page_content %}

    <div class="col-lg-12">

                <table class="table table-striped">
                    <thead >
                        <tr>
                            <th scope="col" style="width: 15%;">Date</th>
                            <th scope="col" style="width: 3%;" alt="accept">V</th>
                            <th scope="col" style="width: 3%;">A</th>
                            <th scope="col" style="width: 65%;">Title</th>
                            <th scope="col" style="width: 5%;">Class</th>
                            <th scope="col" style="width: 5%;">Author</th>

                        </tr>
                    </thead>
                    <tbody style="color: black;">
                        {% for item in items %}
                        <tr>
                            <td class="badge">{{ item.item_datetime }}</td>
                            <td>{{ item.item_accept }}</td>
                            <td style="color: black">{% if item.item_attachment %}
                                <a href="{{ item.item_attachment }}"><i class="fa fa-download"></i></a>
                                {% else %}
                                <a href="#">-</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('item.read',id=item.item_id)}}" style="color: black;">{{ item.item_title }}</a></td>
                            <td><a href="#" style="color: black;">{{ item.item_class }}</a></td>
                            <td><a href="/user/{{item.item_author }}" style="color: black;">{{ item.item_author }}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>

{% endblock %}