<!-- list all the items -->
{% extends 'webbase.html' %}

{% block title %}All Items{% endblock %}
{% block page_content %}

    <!-- Widgets  -->
    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-1">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text" id="num_new_items">100</div>
                                <div class="stat-heading">New Items(Today)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-2">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text" id="num_posts">123</div>
                                <div class="stat-heading">Posts</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-3">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text" >{{ data['num_items'] }}</div>
                                <div class="stat-heading">Items(Total)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="stat-widget-five">
                        <div class="stat-icon dib flat-color-4">
                            <i class="pe-7s-browser"></i>
                        </div>
                        <div class="stat-content">
                            <div class="text-left dib">
                                <div class="stat-text" >{{ data['num_users'] }}</div>
                                <div class="stat-heading">Users</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Widgets -->

    <!--  Traffic  -->
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Statics </h4>
                </div>
                <div class="row">
                    <div class="col-lg-8" style="display: none;">
                        <div class="card-body">
                            <!-- <canvas id="TrafficChart"></canvas>   -->
                            <div id="traffic-chart" class="traffic-chart"></div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="card-body" id="user_static">
                            {% for key,value in data['users'].items() %}
                            <div class="progress-box progress-2">
                                <h4 class="por-title">{{ key }}</h4>
                                <div class="por-txt">
                                    <strong><span id="num_user5_total">{{ value['total'] }}</span></strong> Items ({{ value['percentage'] }}%),
                                    <span id="num_user5_accept">{{ value['accept'] }}</span> accept,
                                    <span id="num_user5_reject">{{ value['reject'] }}</span> reject,
                                    <span id="num_user5_unread">{{ value['unread'] }}</span> unread.
                                    {{ value['inx'] }}
                                </div>
                                <div class="progress mb-2" style="height: 5px;">
                                    <div id="percent_user5" class="progress-bar bg-flat-color-{{ value['inx'] }}" role="progressbar"
                                         style="width: {{ value['percentage'] }}%;" aria-valuenow="{{ value['percentage'] }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

                            </div>
                            {% endfor %}
                            {{ data }}
                        </div> <!-- /.card-body -->
                    </div>
                </div> <!-- /.row -->
                <div class="card-body"></div>
            </div>
        </div><!-- /# column -->
    </div>
    <!--  /Traffic -->
<!--
    <div class="col-xl-12">
        <div class="row">
            <div class="col-lg-12 col-xl-6">
                <div class="card br-0">
                    <div class="card-body">
                        <div class="chart-container ov-h">
                            <div id="flotPie1" class="float-chart"></div>
                        </div>
                    </div>
                </div><!-- /.card -->
<!--            </div>

            <div class="col-lg-12 col-xl-6">
                <div class="card bg-flat-color-3  ">
                    <div class="card-body">
                        <h4 class="card-title m-0  white-color ">August 2018</h4>
                    </div>
                     <div class="card-body">
                         <div id="flotLine5" class="flot-line"></div>
                     </div>
                </div>
            </div>
        </div>
    </div> <!-- /.col-md-4 -->

    <!-- /# column -->
<!--    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h4>Custom Tab</h4>
            </div>
            <div class="card-body">
                <div class="custom-tab">

                    <nav>
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="custom-nav-home-tab" data-toggle="tab" href="#custom-nav-home" role="tab" aria-controls="custom-nav-home" aria-selected="true">Home</a>
                            <a class="nav-item nav-link" id="custom-nav-profile-tab" data-toggle="tab" href="#custom-nav-profile" role="tab" aria-controls="custom-nav-profile" aria-selected="false">Profile</a>
                            <a class="nav-item nav-link" id="custom-nav-contact-tab" data-toggle="tab" href="#custom-nav-contact" role="tab" aria-controls="custom-nav-contact" aria-selected="false">Contact</a>
                        </div>
                    </nav>
                    <div class="tab-content pl-3 pt-2" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="custom-nav-home" role="tabpanel" aria-labelledby="custom-nav-home-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-profile" role="tabpanel" aria-labelledby="custom-nav-profile-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                        <div class="tab-pane fade" id="custom-nav-contact" role="tabpanel" aria-labelledby="custom-nav-contact-tab">
                            <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, irure terry richardson ex sd. Alip placeat salvia cillum iphone. Seitan alip s cardigan american apparel, butcher voluptate nisi .</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- /# column -->

<script>
    $(function () {
        alert('onready');
    });
</script>

{% endblock %}
