{% extends 'web_base.html' %}

{% block title %}Flaskee{% endblock %}

{% block page_content %}
    <div class="row" style="width: 100%;">
        <div class="col-xs-2" id="myScrollspy">
            <ul class="nav nav-tabs nav-stacked" data-spy="affix" data-offset-top="125">
                <li><a href="">第一部分</a></li>
                <li><a href="">第二部分</a></li>
                <li><a href="">第三部分</a></li>
                <li><a href="">第四部分</a></li>
                <li><a href="">第五部分</a></li>
                <li><a href="">第六部分</a></li>
                <li><a href="">第七部分</a></li>
                <li><a href="">第八部分</a></li>
            </ul>
        </div>
        <div class="col-xs-9">
            {% block right_page_content %}{% endblock %}
        </div>
    </div>
{% endblock %}
