<!-- list items by the user -->
{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Items{% endblock %}
{% block page_title %}Manage{% endblock %}
{% block page_content %}
<div class="card">
        <table class="table table-striped table-hover table-align-middle mb-0">
                    <thead >
                        <tr>
                            <th scope="col" style="width: 15%;">Date</th>
                            <th scope="col" style="width: 3%;" alt="accept">V</th>
                            <th scope="col" style="width: 3%;">A</th>
                            <th scope="col" style="width: 65%;">Title</th>
                            <th scope="col" style="width: 5%;">Category</th>
                            <th scope="col" style="width: 5%;">Author</th>
                            <th scope="col" style="width: 3%">Manage</th>

                        </tr>
                    </thead>
                    <tbody style="color: black;">
                        {% for item in items %}
                        <tr>
                            <td style="color: black;font-size: small;">{{ item.item_datetime }}</td>
                            <td>
                                {% if item.item_accept %}
                                <i class="fa fa-check" style="color: green;"></i>
                                {% else %}
                                <i class="fa fa-times" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td style="color: black">{% if item.item_attachment %}
                                <a href="/item/download/{{ item.item_attachment }}"><i class="fa fa-download" style="color: dodgerblue;"></i></a>
                                {% else %}
                                <a >-</a>
                                {% endif %}
                            </td>
                            <td><a href="{{ url_for('item.read',id=item.item_id)}}" style="color: black;">{{ item.item_title }}</a></td>
                            <td><a href="#" style="color: black;">{{ item.item_category }}</a></td>
                            <td><a href="/user/{{item.item_author }}" style="color: black;">{{ item.item_author }}</a></td>
                            <td>
                            {% if not item.item_accept or current_user.user_role >=2 %}
                            <a href="/item/modify/{{ item.item_id }}"  style="color: green;">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="/item/delete/{{ item.item_id }}"  style="color: red;">
                                <i class="fa fa-trash-o"></i>
                            </a>

                            {% else %}
                                <span>-</span>
                            {% endif %}
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>


</div>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}