<!-- list items by the user -->
{% extends 'items_base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Items{% endblock %}

{% block right_page_content %}
    <div class="row" style="width: 100%;">
        <h1>Mangement</h1>
    </div>
    {{ wtf.quick_form(form) }}
    <ul class="item">
        {% for item in items %}
        <li class="container">
            <div>
                {{ moment(item.item_datetime).fromNow() }}
            </div>
            <div>
                <a href="">{{ item.item_title}}</a>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}