<!-- list items by the user -->
{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Items{% endblock %}
{% block page_title %}Manage{% endblock %}
{% block page_content %}

        {% for item in items %}
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">
                            <a href="/item/read/{{ item.item_id }}" style="color: black">{{ item.item_title }}</a>
                            <span class="badge ">[ {{ item.item_datetime}}]</span>
                            {% if item.item_accept == 1 %}
                            <span class="badge badge-success float-left mt-1">Accept</span>
                            {% else %}
                            <span class="badge badge-danger float-left mt-1">Waiting</span>
                            {% endif %}
                            <a href="/item/modify/{{ item.item_id }}" class="float-right" style="color: green;">Modify</a>
                            <span class="float-right"> / </span>
                            <a href="/item/delete/{{ item.item_id }}" class="float-right" style="color: red;">Delete</a>
                        </strong>
                    </div>
                    <a href="/item/read/{{ item.item_id }}">
                        <div class="card-body">
                            <p class="card-text">{{ item.item_content }}</p>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}