<!-- list items by the user -->
{% extends 'webbase.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}My Items{% endblock %}

{% block page_content %}

    <ul class="items">
        {% for item in items %}
            {% if item.item_accept == 1 %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">{{ item.item_title }}
                                <span class="badge ">[ {{ item.item_datetime}}]</span>
                                <span class="badge badge-success float-right mt-1">Accept</span>
                            </strong>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ item.item_content }}</p>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">{{ item.item_title }}
                                <span class="badge ">[ {{ item.item_datetime}}]</span>
                                <span class="badge badge-danger float-right mt-1">Waiting</span>

                            </strong>
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ item.item_content }}</p>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}