
<!doctype html>


<html class="no-js" lang="">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Ela Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/pe-icon-7-filled.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/flag-icon.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/cs-skin-elastic.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/lib/datatable/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='theme181/assets/css/style.css') }}">
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

    <link href="{{ url_for('static', filename='theme181/assets/calendar/fullcalendar.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='theme181/assets/css/charts/chartist.min.css') }}" rel="stylesheet">


    <!-- my define -->
    <link href="{{ url_for('static', filename='my_style.css') }}" rel="stylesheet"/>

    <style>
    #weatherWidget .currentDesc {
        color: #ffffff!important;
    }
        .traffic-chart {
            min-height: 335px;
        }
        #flotPie1  {
            height: 150px;
        }
        #flotPie1 td {
            padding:3px;
        }
        #flotPie1 table {
            top: 20px!important;
            right: -10px!important;
        }
        .chart-container {
            display: table;
            min-width: 270px ;
            text-align: left;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        #flotLine5  {
             height: 105px;
        }

        #flotBarChart {
            height: 150px;
        }
        #cellPaiChart{
            height: 160px;
        }

    </style>
</head>
<body >
    <!-- Left Panel -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">
            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/"><i class="menu-icon fa fa-laptop"></i>HomePage</a>
                        <a href="/items"><i class="menu-icon fa fa-laptop"></i>Items</a>
                        <a href="/posts"><i class="menu-icon fa fa-laptop"></i>Posts</a>

                    </li>
                    <li class="menu-item-has-children dropdown" style="display: none">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="menu-icon fa fa-cogs"></i>User</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li><i class="fa fa-puzzle-piece"></i><a href="#">User-1</a></li>
                            <li><i class="fa fa-id-badge"></i><a href="#">User-2</a></li>
                        </ul>
                    </li>

                    {% if current_user.is_authenticated %}
                        <!-- common user -->
                        {% if current_user.user_role == 1 or current_user.user_role == 3 %}
                        <li class="menu-title">User View</li><!-- /.menu-title -->
                        <li>
                            <a href="/item/manage"><i class="menu-icon fa fa-laptop"></i>Item-Manage</a>
                        </li>

                        <li>
                            <a href="/item/write"><i class="menu-icon fa fa-laptop"></i>Item-Write</a>
                        </li>
                        {% endif %}
                        <!-- manager -->
                        {% if current_user.user_role == 2 or current_user.user_role == 3%}
                        <li class="menu-title">Manager View</li><!-- /.menu-title -->
                        <li>
                            <a href="/item/manage"><i class="menu-icon fa fa-laptop"></i>Item-Manage</a>
                        </li>
                        <li>
                            <a href="/item/write"><i class="menu-icon fa fa-laptop"></i>Item-Write</a>
                        </li>
                        <li>
                            <a href="/post/manage"><i class="menu-icon fa fa-laptop"></i>Post-Manage</a>
                        </li>
                        <li>
                            <a href="/post/write"><i class="menu-icon fa fa-laptop"></i>Post-Write</a>
                        </li>



                        {% endif %}
                        <!-- super admin -->
                        {% if current_user.user_role == 3 %}
                        <li class="menu-title">Admin View</li><!-- /.menu-title -->
                        <li>
                            <a href="/manage"><i class="menu-icon fa fa-laptop"></i>Item Manage</a>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="menu-icon fa fa-cogs"></i>Post</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a href="/post/write">write</a></li>
                                <li><i class="fa fa-id-badge"></i><a href="/post/manage">posts management</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="/test"><i class="menu-icon fa fa-laptop"></i>Test</a>
                        </li>
                        <li>
                            <a href="#"><i class="menu-icon fa fa-laptop"></i>Items Management</a>
                        </li>
                        <li>
                            <a href="{{ url_for('auth.users') }}"><i class="menu-icon fa fa-laptop"></i>Users Management</a>
                        </li>
                            </ul>
                        </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside><!-- /#left-panel -->
    <!-- Left Panel -->

    <!-- Right & Header Panel -->

    <div id="right-panel" class="right-panel">
        <!-- Header-->
        <header id="header" class="header">
            <div class="top-left">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Flaskee</a>
                    <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>

                </div>
            </div>
            <div class="top-right">
                <div class="header-menu">
                    <div class="header-left">

                        {% if current_user.is_authenticated %}
                             <div class="row">
                             {% if current_user.user_role >=1 %}
                                 <div class="dropdown for-notification" >
                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-bell"></i>
                                        <span id="num_notifications" style="color: red;" ></span>
                                    </button>
                                    <div class="dropdown-menu" id="dropdown_notification" aria-labelledby="notification">
                                        {% for notification in notifications %}
                                        <p class="red">You have <strong><span style="color: red;"></span></strong> Notifications</p>
                                        <a class="dropdown-item media" href="#">
                                            <i class="fa fa-check"></i>
                                            <p>Server #1 overloaded.</p>
                                        </a>
                                        {% endfor %}
                                    </div>

                                 </div>
                             {% endif %}
                             </div>
                        {% endif %}
                    </div>
                    <div class="user-area dropdown float-right">
                        {% if current_user.is_authenticated %}
                        hello, <a href="#" style="font-size-adjust: inherit">{{ current_user.user_name }}</a> /
                        <span><a href="{{ url_for('auth.signout') }}">signout</a></span>
                        {% else %}
                        <a href="{{ url_for('auth.signin') }}">SignIn</a> / <a href="{{ url_for('auth.signup') }}">SignUp</a>
                        </a>
                        {% endif %}
                    </div>

                </div>
            </div>
        </header>
        <!-- /Header-->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4 " style="display: none;">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1 id="page_tips">{{page_tips}}</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" >
                        <div class="page-header float-left">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a>{{ pt1 }}</a></li>
                                    <li><a >{{ pt2 }}</a></li>
                                    <li class="active">{{ pt3 }}</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Content -->
        <div class="content">
            <!-- Animated -->
            <div class="animated fadeIn">
                {% for message in get_flashed_messages() %}
                <div class="alert alert-warning">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ message }}
                </div>
                {% endfor %}
                {% block page_content %}{% endblock %}
            </div>
            <!-- end animated -->
        </div>
        <!-- end content -->
        <div class="clearfix" ></div>
    </div>
    <!-- end right panel -->
    <!-- Scripts -->
    <script src="{{ url_for('static', filename='theme181/assets/js/vendor/jquery-2.1.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/jquery.matchHeight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/plugins.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/main.js') }}"></script>
<!--
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/datatables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/dataTables.buttons.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/buttons.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/jszip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/vfs_fonts.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/buttons.html5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/buttons.print.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/data-table/buttons.colVis.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/init/datatables-init.js') }}"></script>

-->
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/chart-js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/chartist/chartist.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/chartist/chartist-plugin-legend.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/flot-chart/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/flot-chart/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/lib/flot-chart/jquery.flot.spline.js') }}"></script>

    <script src="{{ url_for('static', filename='theme181/assets/calendar/fullcalendar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/calendar/fullcalendar-init.js') }}"></script>

    <script src="{{ url_for('static', filename='theme181/assets/js/init/fullcalendar-init.js') }}"></script>

    <script src="{{ url_for('static', filename='theme181/assets/js/Chart.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/moment/moment.js') }}"></script>

    <script src="{{ url_for('static', filename='theme181/assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/jquery.matchHeight.min.js') }}"></script>
    <script src="{{ url_for('static', filename='theme181/assets/js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='ckeditor_4.11.2_standard/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ url_for('static', filename='my_funcs.js') }}"></script>
    <script src="{{ url_for('static', filename='pdfjs/build/pdf.js') }}"></script>
    <script src="{{ url_for('static', filename='pdfjs/build/pdf.worker.js') }}"></script>
    {% if current_user.is_authenticated %}
    <script>
        window.onload = function () {
            var xmlhttp;
            var obj;
            if (window.XMLHttpRequest)
            {
                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                xmlhttp=new XMLHttpRequest();
            }
            else
            {
                // IE6, IE5 浏览器执行代码
                xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange=function()
            {
                if (xmlhttp.readyState==4 && xmlhttp.status==200)
                {
                    obj = JSON.parse(xmlhttp.responseText);
                    var notifications = obj['notifications'];
                    notification_length = notifications.length;

                    if (notification_length >0){
                        var p1 = '<p class="red">You have <strong><span style="color: red;" id="num_tips"></span></strong> Notifications</p>';
                        var p2 = '<a class="dropdown-item media" href="/notification/';
                        var p3 = '">\n' +
                            '         <i class="fa fa-check"></i>\n' +
                            '           <p>';
                        var p4 = '</p>\n' +
                            '         </a>';
                        for (var i=0;i<notification_length;i++){
                            var p1 = p1+p2+obj['notifications'][i][0]+p3+obj['notifications'][i][1]+p4;
                        }
                        document.getElementById('dropdown_notification').innerHTML=p1;

                        document.getElementById('num_notifications').innerHTML=notification_length;
                        document.getElementById('num_tips').innerHTML=notification_length;
                    }
                }
            }
            xmlhttp.open("GET","/count",true);
            xmlhttp.send();
                }
    </script>

    {% endif %}
</body>
</html>

